/*------------------------------------*\
    #CONTAINER
\*------------------------------------*/

.ht-tab {
    margin: 0;
    z-index: $z-index;
    position: fixed;
    -webkit-transition: 1s $animation-direction;
    transition: 1s $animation-direction;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    font-family: $font;
    top: $distance-from-top;
    bottom: $distance-from-bottom;
  	left: $left-closed;
  	right: $right-closed;
  	font-size: $body-font-size;

    @media (max-width: 640px) {

        display: none; // Hide tool on mobile/small devices. Remove to show on mobile.

        margin: 0 auto;
        bottom: 0;
        left: 0;
        right: 0;
        top: auto;
        width: $mobile-width;
        -webkit-transition: 1s bottom;
        transition: 1s bottom;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }

  	&.revealed {
  		left: $left-opened;
  		right: $right-opened;
 		 -webkit-transition: 1s $animation-direction;
  		transition: 1s $animation-direction;
  		-webkit-transition-delay: 0s;
  		transition-delay: 0s;

        @media (max-width: 640px) {
            margin: 0 auto;
            bottom: 1rem;
            left: 0;
            right: 0;
            -webkit-transition: 1s bottom;
            transition: 1s bottom;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
        }
  	}
}

/*------------------------------------*\
    #HEADER
\*------------------------------------*/

@import 'components/header';


/*------------------------------------*\
    #BODY
\*------------------------------------*/

.ht-tab-body {
    background: $body-bg;
    overflow: hidden;
    width: 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: 1s max-height, 1s width;
    transition: 1s max-height, 1s width;
    -webkit-transition-delay: 0s, 1s;
    transition-delay: 0s, 1s;
    font-family: $font-body;

    &__inner {
        padding: $body-padding;
    }

    @media (max-width: 640px) {
        margin: 0 auto;
        left: 0;
        right: 0;
        top: auto;
        width: 100%;
        -webkit-transition-delay: 0s, 0s;
        transition-delay: 0s, 0s;

        &__inner {
            padding: $body-padding-mobile;
        }
    }

    &.revealed {
        width: $desktop-width;
        max-height: $max-height;
        -webkit-transition: 1.5s max-height, 0.5s width;
        transition: 1.5s max-height, 0.5s width;
        -webkit-transition-delay: 1s, 0s;
        transition-delay: 1s, 0s;

        @media (max-width: 640px) {
            margin: 0 auto;
            left: 0;
            right: 0;
            top: auto;
            width: 100%;
            -webkit-transition-delay: 0s, 0s;
            transition-delay: 0s, 0s;
        }
    }
}