//*******************\\
//**** VARIABLES ****\\
//*******************\\


// ----------------------------------
// 1. Positioning & Alignment
// 2. Text & Tyopgraphy 
// 3. Display, Sizes & Dimensions
// 4. Colours & Themes
// 5. Image URLs
// ----------------------------------


//	1. Positioning & Alignment
// ----------------------------------

$z-index: 1002; // Layering. Should be higher than all elements except the menu/offcanvas

$distance-from-top: 15.5rem; // Same as header height
$distance-from-bottom: auto; // Rarely needed, "auto" if positioned from top

$left-closed: auto; // Position from left when tool is closed. auto or 0
$left-opened: auto; // Position from left when tool is opened. auto or 1rem
$right-closed: 0; // Position from right when tool is closed. auto or 0
$right-opened: 1rem; // Position from right when tool is opened. auto or 1rem

$icon-top: 14px; // Arrow & chevron position from top
$icon-left: 6px; // Arrow & chevron position from left
$icon-right: auto; // Arrow & chevron position from right

$close-top: 7px; // Close icon position from top
$close-right: 10px; // Close icon position from top

$animation-direction: right; // Change animation direction. Same as side positioning on page. left or right
$arrow-direction: left; // The direction in which the arrow on the closed-state points. left or right (opposite to the side you're positioning the tool on)


//	2. Text & Tyopgraphy 
// -------------------------------

$font: inherit; // Font family. Should inherit the font used on the site
$font-header: $font; // Separate header font family if necessary
$font-body: $font; // Separate body font family if necessary

$header-font-size: 1.5rem; // Font size of the clickable header
$body-font-size: 1.25rem; // Font size of the body that drops down
$terms-font-size: 1.25rem; // Font size of terms if terms are included

$heading-font-weight: normal; // Font weight of the clickable header
$terms-font-style: italic; // Font style of terms if terms are included

$list-text-transform: uppercase; // Capitalise bullet points if included. uppercase or none
$button-text-transform: uppercase; // Capitalise button text. uppercase or none

$text-align: center; // General text alignment
$header-text-align: $text-align; // Separate header text alignment if necessary. Should ideally be the same throughout
$message-text-align: $text-align; // Separate opening paragraph text alignment if necessary. Should ideally be the same throughout
$button-text-align: $text-align; // Separate button text alignment if necessary. Should ideally be the same throughout
$terms-text-align: $text-align; // Separate terms text alignment if necessary. Should ideally be the same throughout
$header-mobile-text-alignment: $text-align; // Separate header text alignment on mobile if necessary. Should ideally be the same throughout


//	3. Display, Sizes & Dimensions
// ---------------------------------

$desktop-width: 400px; // Width of tool on medium & large
$mobile-width: 95%; // Width of tool on mobile.
$max-height: 800px; // Max height of tool - shouldn't be changed

$icon-width: $header-font-size; // Width of arrow & chevron
$icon-height: $header-font-size; // Height of arrow & chevron

$body-padding: 2rem; // Body padding
$body-padding-mobile: 1.5rem; // Body padding on mobile

$cta-margin: 2rem 0 1rem; // Margin around the CTA/button container

$timer-border-radius: 3px; // Border radius around times


//	4. Colours & Themes
// -----------------------------

$black: #0a0a0a; // Black colour
$white: #fefefe; // White colour
$gray: #808080; // Grey colour

$primary-color: #232934; // Used on header as default
$secondary-color: #8e5bf2; // Used on button background as default
$tertiary-color: darken($primary-color, 5%); // Used on header hover as default
$quaternary-color: darken($secondary-color, 5%); // Used on button background hover as default

$header-text-color: $white; // Colour of text in header
$body-text-color: $black; // Body text colour

$body-bg: $white; // Body background colour

$table-border-color: rgba(128, 128, 128, 0.25); // If using the table widget, what colour the borders will be


//	5. Image URLs
// ---------------------

// See Zendesk guide for documentation on this
$tick-icon-prefix: stapleford; // https://journey.travel/resources/svg/($tick-icon-prefix)-tick.svg
$ota-first-icon-file: money; // https://journey.travel/resources/clients/($tick-icon-prefix)/($ota-first-icon-file).svg
$ota-second-icon-file: bottle-light; // https://journey.travel/resources/clients/($tick-icon-prefix)/($ota-second-icon-file).svg
$ota-third-icon-file: check-out; // https://journey.travel/resources/clients/($tick-icon-prefix)/($ota-third-icon-file).svg
$price-comparison-tick: black; // https://journey.travel/recources/svg/($price-comparison-tick)-tick.svg





