/*------------------------------------*\
    #CTA-BUTTON
\*------------------------------------*/

.ht-tab-cta {
    margin: $cta-margin;
    width: 100%;
    text-align: $button-text-align;

    //------------------------------
    // Button styles if needed. 
    // You should use an existing button class used on the website to save time.
    // Add this class to pages/index.html
    //------------------------------

    &__button {
        margin: 0 auto;
        transition: all 300ms;
        padding: 1rem 2rem;
        background: $secondary-color;
        color: $white;
        cursor: pointer;
        text-transform: $button-text-transform;
        text-decoration: none;

        &:hover {
            background: $quaternary-color;
        }
    }
}