/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.ht-tab-header {
    margin: 0;
    background: $primary-color; 
    color: $header-text-color; 
    text-transform: uppercase;
    transition: all 300ms; 
    text-align: $header-text-align;
    text-size: $header-font-size;

    @media (max-width: 640px) {
        text-align: $header-mobile-text-alignment;
    }

    &:hover {
    	background: $tertiary-color;
    }

    &__trigger {
    	width: 100%;
    	height: 100%;
    	display: block;
    	cursor: pointer;
        background: $primary-color;
    }

    &__heading {
    	margin: 0;
    	padding: 1rem 2.5rem;
        padding-left: 3rem;
    	display: inline-block;
    	font-size: $header-font-size;
    	font-weight: normal;
        color: $white;
        font-family: $font-header;

    	@media (max-width: 640px) {
    		text-align: $header-mobile-text-alignment;
            padding: 0.5rem 1.5rem;
    	}
    }

    &__icon {
    	visibility: visible;
    	position: absolute;
    	width: 1.3rem;
    	height: 1.3rem;
    	top: $icon-top;
    	left: $icon-left;
    	right: $icon-right;
    	transition: 0s visibility;
    	transition-delay: 1.5s;
    	background: url("https://journey.travel/resources/svg/#{$arrow-direction}-arrow.svg") 100% no-repeat;

        @media (max-width: 640px) {
            margin: 0 1rem;
            visibility: visible;
            width: 1.25rem;
            height: 1.25rem;
            top: 0.5rem;
            right: 1rem;
            left: auto;
            transition: none;
            background: url("https://journey.travel/resources/svg/up-chevron.svg") 100% no-repeat;
        }

    	&.revealed {
    		width: 0;
    		height: 0;
    		visibility: hidden;
    		transition: 0s visibility;
    		transition-delay: 0s;

            @media (max-width: 640px) {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
                visibility: visible;
                transition: none;
                width: 1.25rem;
                height: 1.25rem;
                top: 0.5rem;
                right: 1rem;
                left: auto;
            }
    	}
    }

    &__close {
    	display: none;

    	&.revealed {
    		display: block;
    		position: absolute;
    		font-size: $header-font-size;
    		top: $close-top;
    		right: $close-right;
            color: $white;

            &:hover {
                color: $white;
            }

            @media (max-width: 640px) {
                display: none;
            }
    	}
    }
}