/*------------------------------------*\
    #LIST
\*------------------------------------*/

.ht-tab-list {
    width: 100%;
    margin-bottom: 1rem;

    ul {
    	margin: 0;
    	list-style: none;
    	padding: 0;
    	text-transform: $list-text-transform;
    }

    li {
    	text-indent: -1.5rem;
    	padding-left: 1.5rem;
        color: $body-text-color;
    }

    li:before {
    	margin: 0 .5rem 0 0;
    	content: "";
    	width: $body-font-size;
    	height: $body-font-size;
    	display: inline-block;
    	background-image: url("https://journey.travel/resources/svg/#{$tick-icon-prefix}-tick.svg");
    }
}