/*------------------------------------*\
    #MESSAGE
\*------------------------------------*/

.ht-tab-message {
    margin: 0 0 1rem;
    text-align: $message-text-align;

	p {
	    margin: 0 0 1rem;
	    font-size: 1.5rem;
	    color: $body-text-color;
	}
}