/*------------------------------------*\
    #OTA-COMPARISON-ICONS
\*------------------------------------*/

.ht-tab-ota-comparison h6 {
    margin: 0 0 1rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 1.4rem;
}

.ht-tab-benefits {
    margin: 0 0 2rem;
    width: 100%;
    text-align: center;
    overflow: auto;

    &__benefit {
        float: left;
        width: 33%;
        font-size: 1.2rem;
        color: $body-text-color;
    }

    &__icon {
        margin: auto;
        width: 6rem;
        height: 6rem;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__icon.first {
        background-image: url("https://journey.travel/resources/clients/#{$tick-icon-prefix}/#{$ota-first-icon-file}.svg");
    }

    &__icon.second {
        background-image: url("https://journey.travel/resources/clients/#{$tick-icon-prefix}/#{$ota-second-icon-file}.svg");
    }

    &__icon.third {
        background-image: url("https://journey.travel/resources/clients/#{$tick-icon-prefix}/#{$ota-third-icon-file}.svg");
    }
}

.ht-tab-ota {
    margin: 0 auto 1rem;
    width: 50%;
    overflow: auto;

    &__icon {
        margin: auto;
        float: left;
        width: 50%;
        height: 40px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__icon.first {
        background-image: url("https://journey.travel/resources/svg/expedia.svg");
    }

    &__icon.second {
        background-image: url("https://journey.travel/resources/svg/booking.svg");
    }
}