    /*------------------------------------*\
    #PRICE-COMPARISON
\*------------------------------------*/

.ht-tab-direct {

    &-price {
        margin: -2rem -2rem 0;
        padding: 2rem;
        background: $secondary-color;
        color: $white;
        width: 100%;

        &__heading {
            font-size: calc(#{$body-font-size} * 1.5);
        }

        &__value {
            font-size: calc(#{$body-font-size} * 2);
        }

        ul {
            margin: 1rem 0 0;
            list-style: none;
            padding: 0;
        }

        li:before {
            margin: 0 .5rem 0 0;
            content: "";
            width: 1rem;
            height: 1rem;
            display: inline-block;
            background: url("https://journey.travel/resources/svg/#{$price-comparison-tick}-tick.svg");
            fill: #262235;
        }
    }
}

.ht-tab-ota {

    &-prices {
        margin: 0 -2rem;
        padding: 2rem 2rem 0;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li {
            display: inline-block;
            float: left;
            width: 50%;
        }

        li span {
            color: $gray;
        }

        p {
            font-size: calc(1rem - 30%);
            color: $body-text-color;
        }
    }
}