/*------------------------------------*\
    #TABLE
\*------------------------------------*/

.ht-tab-table {
    width: 100%;
    margin-bottom: 2.5rem;

    thead tr td {
        padding: 0.25rem;
    }

    thead tr td.left {
        text-align: left;
    }

    thead tr td.center {
        text-align: center;
    }

    tbody tr td span {
        margin: auto;
        background-image: url("https://journey.travel/resources/svg/#{$tick-icon-prefix}-tick.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: $body-font-size;
        height: $body-font-size;
        display: block;
    }

    td.border-right {
        border-right: 1px solid $table-border-color;
    }

    td.border-bottom {
        border-bottom: 1px solid $table-border-color;
    }
}