/*------------------------------------*\
    #TERMS
\*------------------------------------*/

.ht-tab-terms {
	text-align: $terms-text-align;

	p {
		font-size: $terms-font-size;
		font-style: $terms-font-style;
	}
}