/*------------------------------------*\
    #TIMER
\*------------------------------------*/

.ht-tab-timer {
    width: 100%;
    text-align: center;
    overflow: auto;
    margin-bottom: 2.5rem;

	&__times {
	    float: left;
	    width: 20%;
	    margin: 0 2.5%;
	    background: linear-gradient(to top, lighten($secondary-color, 10%) 0%, lighten($secondary-color, 10%) 35%, $secondary-color 35%, $secondary-color 100%);
	    text-transform: uppercase;
	    border-radius: $timer-border-radius;
	    color: $white;
	}

	&__value {
	    font-size: 2rem;
	}

	&__label {
	    font-size: 0.7rem;
	}
}