<div class="ht-tab-ota-comparison">

	<div class="ht-tab-benefits">

		<div class="ht-tab-benefits__benefit">

			<div class="ht-tab-benefits__icon first"></div>

			<span class="ht-tab-benefits__text">20&#37; off<br>Golf and Spa*</span>

		</div>

		<div class="ht-tab-benefits__benefit">

			<div class="ht-tab-benefits__icon second"></div>

			<span class="ht-tab-benefits__text">Complimentary glass<br> of Prosecco</span>

		</div>

		<div class="ht-tab-benefits__benefit">

			<div class="ht-tab-benefits__icon third"></div>

			<span class="ht-tab-benefits__text">Late check-out*<br></span>

		</div>

	</div>
	<h6>That's a better deal than</h6>
	<div class="ht-tab-ota">
		<div class="ht-tab-ota__icon first"></div>
		<div class="ht-tab-ota__icon second"></div>		
	</div>

	{{> terms}}

</div>