<div class="ht-tab-direct-price">

    <span class="ht-tab-direct-price__heading">Direct price</span><br>

    <span class="ht-tab-direct-price__value"><span style="font-size:1rem;">from</span> £100.00<span style="font-size: 1rem">*</span></span>

    <ul>

        <li>Lorem ipsum</li>

        <li>Best available room guaranteed</li>

    </ul>

</div>

<div class="ht-tab-ota-prices">

    <ul>

        <li>Expedia.com</li>

        <li><span>prices from</span> £125.00*</li>

    </ul>

    <ul>

        <li>Booking.com</li>

        <li><span>prices from</span> £125.00*</li>

    </ul>

    <p>*Prices correct on 01/01/18</p>

</div>
