<table class="ht-tab-table" cellspacing="0">

    <thead>

        <tr valign="center">

            <td class="left border-right border-bottom"></td>

            <td class="center border-right border-bottom">Iconic <br> Collection</td>

            <td class="center border-bottom">All other <br>lodges</td>

        </tr>

    </thead>

    <tbody>

        <tr>

            <td class="border-right">Lorem ipsum</td>

            <td class="border-right"><span class="ht-tab-table-tick"></span></td>

            <td></td>

        </tr>

        <tr>

            <td class="border-right">Lorem ipsum</td>

            <td class="border-right"><span></span></td>

            <td></td>

        </tr>

        <tr>

            <td class="border-right">Lorem ipsum</td>

            <td class="border-right"><span></span></td>

            <td></td>

        </tr>

    </tbody>

</table>