<div class="ht-tab-timer">

    <div class="ht-tab-timer__times">

        <span id="ht-tab-timer__days" class="ht-tab-timer__value">
                                
        </span>

        <span class="ht-tab-timer__label">

            <br>Days

        </span>

    </div>

    <div class="ht-tab-timer__times">

        <span id="ht-tab-timer__hrs" class="ht-tab-timer__value">
                                
        </span>

        <span class="ht-tab-timer__label">

            <br>Hours

        </span>

    </div>

    <div class="ht-tab-timer__times">

        <span id="ht-tab-timer__mins" class="ht-tab-timer__value">
                                
        </span>

        <span class="ht-tab-timer__label">

            <br>Minutes

        </span>

    </div>

    <div class="ht-tab-timer__times">

        <span id="ht-tab-timer__secs" class="ht-tab-timer__value">
                                
        </span>

        <span class="ht-tab-timer__label">

            <br>Seconds

        </span>

    </div>

    <script>
		// Set the date we're counting down to
		var countDownDate = new Date("Nov 1, 2018 15:00:00").getTime();

		// Update the count down every 1 second
		var x = setInterval(function() {

		    // Get todays date and time
		    var now = new Date().getTime();

		    // Find the distance between now an the count down date
		    var distance = countDownDate - now;

		    // Time calculations for days, hours, minutes and seconds
		    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
		    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
		    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
		    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

		    // Display the result in the element with id="demo"
		    document.getElementById("ht-tab-timer__days").innerHTML = days;
		    document.getElementById("ht-tab-timer__hrs").innerHTML = hours;
		    document.getElementById("ht-tab-timer__mins").innerHTML = minutes;
		    document.getElementById("ht-tab-timer__secs").innerHTML = seconds;

		    // If the count down is finished, write some text 
		    if (distance < 0) {
		        clearInterval(x);
		        document.getElementById("ht-tab-timer").innerHTML = "EXPIRED";
		    }
		}, 1000);
	</script>

</div>
