<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Transfer&trade; by Journey - www.journey.travel</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js" type="text/javascript"></script>
  </head>
  <body>

    <div class="ht-tab">

        <div class="ht-tab-header">

            <a class="ht-tab-header__trigger">

                <h2 class="ht-tab-header__heading">{{header-text}}</h2>

                <span class="ht-tab-header__icon"></span>

                <span class="ht-tab-header__close">&#10005;</span>

            </a>

        </div>

        <div class="ht-tab-body">

            <div class="ht-tab-body__inner">

                {{> body}}

            </div>

        </div>

    </div>
    
    <script>
        $('.ht-tab-header__trigger').on('click', function() {
            $('.ht-tab').toggleClass('revealed');
            $('.ht-tab-header').toggleClass('revealed');
            $('.ht-tab-header__heading').toggleClass('revealed');
            $('.ht-tab-header__icon').toggleClass('revealed');
            $('.ht-tab-header__close').toggleClass('revealed');
            $('.ht-tab-body').toggleClass('revealed');
        });
    </script>
  </body>
</html>